# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# If you use Pipenv
Pipfile.lock

# If you use Poetry
*.lock

# Environment variables
.env
*.env

# Pytest cache
.pytest_cache/

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Database (SQLite example)
*.sqlite3
instance/

# PyCharm settings
.idea/

# If you build docs
_build/
